# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.egg
.env
.uv/

# Node
node_modules/
dist/
.vite/

# IDE
.vscode/
.idea/
.cursor/

# OS
.DS_Store
Thumbs.db

# Docker
mysql_data/

# Archives
*.zip
*.rar

# Logs
*.log