:root {
  --el-color-primary: #7b67ee;
  --el-color-primary-light-3: #9d8ef3;
  --el-color-primary-light-5: #b3a3f6;
  --el-color-primary-light-7: #c9b8f9;
  --el-color-primary-light-8: #d5c7fa;
  --el-color-primary-light-9: #e8e3fc;
  --el-color-primary-dark-2: #6252be;
}

* { margin: 0; padding: 0; box-sizing: border-box; }
html, body, #app { height: 100%; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; }

.el-table .cell{
  padding: 0 16px;
}

.el-card{
  padding-bottom: 16px;
}